In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium as fl

In [12]:
df = pd.read_csv('data/Uber-dataset/uber-raw-data-apr14.csv', index_col=0)
df

                        Lat      Lon    Base
Date/Time
4/1/2014 0:11:00    40.7690 -73.9549  B02512
4/1/2014 0:17:00    40.7267 -74.0345  B02512
4/1/2014 0:21:00    40.7316 -73.9873  B02512
4/1/2014 0:28:00    40.7588 -73.9776  B02512
4/1/2014 0:33:00    40.7594 -73.9722  B02512
...                     ...      ...     ...
4/30/2014 23:22:00  40.7640 -73.9744  B02764
4/30/2014 23:26:00  40.7629 -73.9672  B02764
4/30/2014 23:31:00  40.7443 -73.9889  B02764
4/30/2014 23:32:00  40.6756 -73.9405  B02764
4/30/2014 23:48:00  40.6880 -73.9608  B02764

[564516 rows x 3 columns]

In [16]:
dates = pd.to_datetime(df.index, format='%m/%d/%Y %H:%M:%S')
dates

DatetimeIndex(['2014-04-01 00:11:00', '2014-04-01 00:17:00',
               '2014-04-01 00:21:00', '2014-04-01 00:28:00',
               '2014-04-01 00:33:00', '2014-04-01 00:33:00',
               '2014-04-01 00:39:00', '2014-04-01 00:45:00',
               '2014-04-01 00:55:00', '2014-04-01 01:01:00',
               ...
               '2014-04-30 23:00:00', '2014-04-30 23:04:00',
               '2014-04-30 23:05:00', '2014-04-30 23:15:00',
               '2014-04-30 23:18:00', '2014-04-30 23:22:00',
               '2014-04-30 23:26:00', '2014-04-30 23:31:00',
               '2014-04-30 23:32:00', '2014-04-30 23:48:00'],
              dtype='datetime64[ns]', name='Date/Time', length=564516, freq=None)

In [26]:
dates.

False

In [22]:
len(dates), dates[0], dates[564515]

(564516, Timestamp('2014-04-01 00:11:00'), Timestamp('2014-04-30 23:48:00'))